
nav{
    background-color: maroon;
    color: #ffff;
    padding: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    margin: -80px;
    margin-bottom: 35px;
    margin-left: 500px;
    margin-right: 500px;
}

#quebra{
    padding-top: 100px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 1%;
    background-color: #F5C2C2;

}


.atend{
    text-align: right;
    color: #C70039;
    
}

.fone{
    margin: -8px -4px -7px 0px;
}

#imgtopo{
    text-align: center;
    background-color: #C70039;
    height: 300px;
    margin-top: 170px;
}

#topo{
    margin-top: 50px;
}

.treinamento{
    text-align: center;

}

#professor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -20px;
    color: #C70039;
}

h1{
    text-align: center;
    color: #C70039;


}

#curso{
    color: #FFF;
    text-align: center;
    background-color: #C70039;
    padding: 5px;
    
}

#nestecurso{
    text-align: center;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #C70039;
}

#grade{
display: grid;
grid-template-areas: "imagem texto";
}

.imagem{
    text-align: center;
    margin-top: 10px;
}

.texto{
    text-align: justify;
    padding-left: 10px;
}

#wagner{
    border-radius: 50%;
}

#professor{
    background-color: #C70039;
    color: #fff;
    text-align: center;
    padding: 4px;
    font-size: 20px;
}

#presentation{
    color: #C70039;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #fff;
    padding: 10px;
    border-width: 2px;
    font-size: 30px;
}

footer{
    background-color: #C70039;
    height: 150px;
    }

}

.logo-tec{
   margin-top: 300px;
   align-items: center;

}

.marco2{
  color: white;
  text-decoration: none;
  color: #FFF;
  text-align: left;
  align-content: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;


}
 
.link{
    text-decoration: none;
    color: #FFF;


}

.fone2{
    margin-top: 30%;  
}

.video{
    border-style: solid;
    border-width: 5px;
    color: #C70039;
    
}