
#nav{
    background: #C70039;
    height: 200px;

}

.color-nav{
    text-align: center;
    padding-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration-color: white;
    text-decoration-line: none;

}
hr{
    margin-top: -80px;
    margin-bottom: 35px;
    margin-left: 500px;
    margin-right: 500px;
}

#quebra{
    padding-top: 100px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #F5C2C2;

}

.texto_curso{
    font-family: verdana;
    font-size: 14px;
    margin-left: 30px;
    line-height: 22px;

}

.atend{
    text-align: right;
    color: #C70039;
    margin-top: 40px;
    
}

.fone{
    margin: -8px -4px -7px 0px;
}

#imgtopo{
    text-align: center;
    background-color: #C70039;
    height: 300px;
    margin-top: 170px;
}

#topo{
    margin-top: 50px;
}

.treinamento{
    text-align: center;

}

#professor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -20px;
    color: #C70039;
}

h1{
    text-align: center;
    color: #C70039;


}

#curso{
    color: #FFF;
    text-align: center;
    background-color: #C70039;
    padding: 5px;
    
}

#nestecurso{
    text-align: center;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #C70039;
}

#grade{
display: grid;
grid-template-areas: "imagem texto";
grid-template-columns: 270px;
}

.imagem{
    text-align: center;
    margin-top: 10px;
}

#wagner{
    border-radius: 50%;
}

#professor{
    background-color: #C70039;
    color: #fff;
    text-align: center;
    padding: 4px;
    font-size: 20px;
}


.line{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-width: 1px;
    border-color: white;
}

.presentation{
    color: #C70039;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-size: 30px;
}

.video-youtube{
    margin-top: 50px;
    align-items: center;
}



footer{
    display: grid;
    grid-template-areas: "logo-tec texto-tec";
    background: #C70039;
    height: 150px;

}


.logo-tec{
 align-items: center;
 vertical-align: center;
 margin: auto;

}

.texto-tec{
  color: white;
  text-decoration: none;
  color: #FFF;
  margin: auto;



}
 
.link{
    text-decoration: none;
    color: #FFF;


}

.fone2{
    margin-top: 30%;  
}

.video{
    border-style: solid;
    border-width: 5px;
    color: #C70039;
    
}

.whats-bco{
    margin-bottom: -3px;
}

#botao{
    background: white;
    color: #C70039;
    height: 50px;
    border-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; 
    font-weight: 500;
    
}

.color-nav a:link, a:visited, a:active{
    text-decoration: none;
    padding: 10px;
    margin: center;

}



.color-nav a:hover{
    color: #F5C2C2;
    border-color: #A21F1F;
    border-width: 2px;
    border-style: solid;
    border-radius: 10%;
    
}