
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 1%;
    background-color: #F5C2C2;

}

nav{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#atendimento{
    text-align: right;
    padding-right: 180px;
}

#whats{
 text-align: right;
 padding-right: 170px;
 margin-top: -40px;

}

#telefone{
    text-align: right;
    margin-top: -25px;

}

#imgtopo{
    text-align: center;
    background-color: khaki;
    height: 230px;
}

.treinamento{
    text-align: center;

}

h1{
    color: #C70039;
}

#professor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -20px;
    color: #C70039;
}